<% provide(:title, 'All profiles') %>
<h1>All profiles</h1>

<%= will_paginate %>

<ul class="profiles">
      <%= render @profiles %>
</ul>

<%= will_paginate %>

<%= link_to 'New Profile', new_profile_path %>
