<%= link_to gravatar_for(current_profile, size: 50), current_profile %>
<h1><%= current_profile.name %></h1>
<span><%= link_to "view my profile", current_profile %></span>
<span><%= pluralize(current_profile.posts.count, "post") %></span>
