<% provide(:title, "Home") %>
<h1>Ruby on Rails project</h1>
<p>
  This is a project for subject <a href="https://is.muni.cz/predmet/fi/jaro2014/PV219?lang=en">PV219 Webdesign seminar</a> at the Faculty of Informatics of Masaryk University in Brno.
</p>
<p>Author: Oliver Pacut</p>
<p>Brno, spring 2016</p>
